/* INHERITABLE */
%heading {
  color: $top-heading-color;
  font-size: 30pt;
}

%vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CORE */
body {
  background-color: $bg-color;
  font-family: $font-family;
  color: $font-color;
  overflow: hidden;
}

table {
  width: 100%;
  text-align: center;
}

td {
  width: 20%;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
  font-size: $body-txt-size;
}

/* CLASSES */
.App {
  overflow: hidden;
}

.heading {
  @extend %heading;
}

.week-res-txt {
  font-weight: bold;
}

.workout-week p {
  display: inline;
  margin-left: 2%;
  font-size: $body-txt-size;
}

/* IDs */
#back-home {
  margin-top: 150px;
}

#barbell {
  width: 300px;
  margin-top: 2%;
}

#calc-body {
  @extend %vertical-center;
  flex-direction: column;
  height: $page-height;
}

#home {
  font-size: 30pt;
  text-align: center;
  height: $page-height;
  @extend %vertical-center;
  flex-direction: column;
}

#one-rep-max {
  width: 475px;
  height: 50px;
  background-color: rgba(79, 99, 103, .5);
  border: 1px solid #FFF;
  border-radius: 4px;
  color: $font-color;
  font-family: $font-family;
  text-align: center;
  font-size: 15pt;
}

#popup-msg {
  height: 10%;
  color: #FE5F55;
}

#result-title {
  @extend %heading;
  text-align: center;
}

#results {
  @extend %vertical-center;
  flex-direction: column;
  width: 75%;
}

#start-txt {
  height: 10%;
  font-size: $body-txt-size;
}

#submit-weight {
  width: 95px;
  height: 5%;
  border-radius: 4px;
  font-family: $font-family;
  color: white;
  font-weight: bold;
  border-color: $top-heading-color;
  background-color: $top-heading-color;
}

#title {
  color: $top-heading-color;
}

/* ANIMATIONS */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}